<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <nav>
        <h4><a href="{% url 'index'%}">Logo</a></h4>
        
        <form action="{% url 'index' %}" method="GET">
            <!-- we donot need csrf token for get method forms -->
             <input type="text" name="q" placeholder="Search...">
        </form>

        <div>
            <a href="{% url 'login' %}">Login</a>
        </div>
    </nav>

    <!-- flash messages -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    <hr>
    {% block content %}

    {% endblock %}
</body>
</html>